modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
LIVEAVATAR_SCENARIOS_AVATAR_ID = "0930fd59-c8ad-434d-ad53-b391a1768720"
LIVEAVATAR_SCENARIOS_CONTEXT_ID = "9a8af2cd-6cc2-4189-8073-fb5031d9c421"
LIVEAVATAR_SCENARIOS_VOICE_ID = "b952f553-f7f3-4e52-8625-86b4c415384f"
LIVEAVATAR_WOW_AVATAR_ID = "9650a758-1085-4d49-8bf3-f347565ec229"
LIVEAVATAR_WOW_CONTEXT_ID = "ff6ea605-fd86-449c-8b22-ecb41bd4b27e"
LIVEAVATAR_WOW_VOICE_ID = "f91568c4-c0a5-4dcd-8a05-69f3b8006f86"
